@media (max-width: 767px) {
    h1,
    .header_grafik,
    .poke_grafik,
    .button_pre_next,
    .nav_grafik_info,
    .info_content {
        width: min(310px, calc(100% - 16px));
    }

    h1 {
        padding-top: 1px;
        font-size: 1em;
    }

    .header_grafik {
        flex-direction: column;
    }

    .search_Mask {
        height: auto;
        margin-left: 0;
        padding: 10px 0;
        font-size: 14px;
    }

    .search_form {
        flex-direction: column;
        gap: 10px;
    }

    .input_user {
        width: calc(100% - 20px);
        margin: 10px 10px 5px;
        font-size: 24px;
    }

    .buttons_grafik {
        width: 100px;
        height: 70px;
        margin-top: 14px;
        font-size: 24px;
        border-width: 6px;
    }

    .nav_grafik {
        justify-content: flex-end;
        gap: 30px;
        height: 100px;
        margin-right: 10px;
    }

    .start_grafik {
        margin-top: 5px;
        margin-left: 10px;
        font-size: 30px;
    }

    .info_grafik {
        margin-top: 5px;
        margin-right: 10px;
        font-size: 24px;
    }

    .loading_picture {
        width: 160px;
        height: auto;
    }

    .load_grafik {
        font-size: 24px;
    }

    .poke_grafik {
        gap: 50px;
    }

    .one_pokemon {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .counter_grafik {
        width: 100px;
        height: 100px;
        padding-top: 7px;
        font-size: 20px;
    }

    .img_pokemon {
        width: 240px;
        padding-left: 0;
    }

    .disable_this {
        display: none;
    }

    .buttons_pre_poke,
    .buttons_next_poke {
        width: 60px;
        height: 35px;
    }

    .buttons_pre_poke {
        margin-left: 10px;
    }

    .buttons_next_poke {
        margin-right: 10px;
    }

    .buttons_pre_poke:hover,
    .buttons_next_poke:hover {
        transform: scale(1.2);
    }

    .buttons_dialog_grafik {
        width: 60px;
        height: 40px;
        margin-top: 0;
        padding-top: 0;
        font-size: 18px;
    }

    .copyright_jm {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 20px;
    }

    h3,
    .info_content_boxes,
    .info_box_size,
    .text_grafik {
        width: min(300px, calc(100% - 16px));
    }

    .href_grafik {
        font-size: 18px;
    }
}

@media (max-width: 339px) {
    .copyright_jm_impressum {
        font-size: 19px;
        color: yellow;
    }
}
