/* CLASS for BASIC */

h1 {
    font-size: 3em;
    width: 1440px;
    background-color: blueviolet;
    border-style: double;
    border-color: black;
    border-width: 10px;
    border-radius: 10px;
    text-align: center;
}

header {
    background-color: rgba(255, 255, 255, 0);
    padding-top: 20px;
}

body {
    background-image: url(./assets/img/main-background.png);
    background-size: cover;
    height: 120vh;
    background-position: center;
}


/* CLASS for MAIN-PROGRAMM */
.main_grafik {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100vh;
    height: auto;
}

.poke_grafik {
    width: 1440px;
    height: auto;
    border-style: double;
    border-color: black;
    border-width: 10px;
    border-radius: 10px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.one_pokemon {
    width: 300px;
    height: 300px;
    border-style: double;
    border-color: white;
    border-width: 10px;
    border-radius: 5px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img_poke {
    width: 150px;
    height: 150px;
    background-color: black;
    margin-bottom: 30px;
}

.id_poke {
    font-size: 30px;
    background-color: black;
    margin-bottom: 10px;
}

.button_pre_next {
    width: 1440px;
    height: auto;
    border-style: double;
    border-color: black;
    border-width: 10px;
    border-radius: 10px;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
}

.buttons_grafik {
    /* VOREINSTELLUNGEN für "transform" beim HOVERN ! ... */
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
    transition-property: transform;
    transition-delay: 200ms;

    width: 200px;
    height: 70px;
    font-size: 40px;
    color: yellow;
    background-color: black;
    border-style: double;
    border-color: yellow;
    border-width: 10px;
    border-radius: 5px;
}

.buttons_grafik:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);

    /* EINSTELLUNGEN bei "buttons_grafik" ... */
    transform: scale(1.5);
}


.Laden_grafik {
    font-size: 40px;
    color: yellow;
}



/* CLASS für DIALOG */

.dialog_box {
    font-size: 40px;
    color: white;
    width: 100%;
    height: auto;
    position: absolute;
    top: 1%;
    left: 2%;
    background-color: black;
    border-style: double;
    border-color: blueviolet;
    border-width: 10px;
    border-radius: 5px;
}

.show_pokemon {
    font-size: 40px;
    color: white;
    background-color: black;
    display: flex;
}

.line_grafik {
    border-color: blueviolet;
}

.buttons_dialog_grafik {
    width: 400px;
    height: 150px;
    font-size: 60px;
    position: absolute;
    bottom: 20px;
    left: 44%;
}

.img_pokemon {
    width: 800px;
    height: auto;
    background-color: black;
}

/* CLASS for footer */

footer {
    background-color: rgba(255, 255, 255, 0);
}

.copyright_jm {
    font-size: 30px;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0);
}